<div class="container">
    <div class="leftContainer"></div>
    <div class="rightContainer" *ngIf="movies">
        <h2>Movie List</h2>
        <ul>
          <li *ngFor="let movie of movies">
            <h3>{{ movie.title }}</h3>
            <p>Director: {{ movie.director }}</p>
            <p>Release Date: {{ movie.releaseDate }}</p>
            <p>Genre: {{ movie.genre }}</p>
            <p>Country: {{ movie.country }}</p>
            <p>Description: {{ movie.description }}</p>
            <p>Cast: {{ movie.cast.join(', ') }}</p>
            <img *ngIf="movie.posterUrl" [src]="movie.posterUrl" alt="{{ movie.title }} Poster">
          </li>
        </ul>
      </div>
    
</div>



  